@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;0,400;0,500;0,700;0,800;1,200;1,300;1,400;1,500;1,700;1,800&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

:root{
    --color-primary: black;
}

/* WHAT WE DO */
.container-what-we-do {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 0.5fr 1fr 1fr 1fr;
    grid-template-areas: "title-box title-box"
    "body-box1 body-box1"
    "body-box2 body-box2"
    "body-box3 body-box3";
    padding: 10px;
    grid-gap: 5px;
}

.title-box {
    grid-area: title-box;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    background-color: rgb(10, 83, 10);
}

@keyframes slideInLeft{
    from{
        transform: translateX(-300px);
    }
    to{
        transform: translateX(0);
    }
}

.hheading{
    color: #fff;
    animation: slideInLeft 1s ease-in 1s 2 normal none;
}
.body-box1 {
    grid-area: body-box1;
    background: rgb(76, 175, 80, 0.3);
    background-size: cover;
    padding: 20px;
    border-radius: 5px;
}
.body-box2 {
    grid-area: body-box2;
    background: rgb(76, 175, 80, 0.2);
    background-size: cover;
    padding: 20px;
    border-radius: 5px;
}
.body-box3 {
    grid-area: body-box3;
    background: rgb(76, 175, 80, 0.1);
    background-size: cover;
    padding: 20px;
    border-radius: 5px;
}
.imagex {
    width: 350px;
    height: auto;
    border-radius: 175px;
}
.text-box {
    width: 800px;
    height: auto;
    background: rgba(47, 49, 47, 0.062);
    border-radius: 175px;
    padding: 30px;
}

@keyframes bounce{
    0%,
    20%,
    50%,
    80%,
    100%{
        transform: translateY(0);
    }
    40%{
        transform: translateY(-30px);
    }
    60%{
        transform: translateY(-15px);
    }
}

.pees{
    animation: bounce 1s ease-in 1s 2 normal none;
}
.read-me-btn-container a{
    padding: 10px;
    border-radius: 5px;
    background-color: rgb(121, 50, 50);
    color: #fff;
    text-decoration: none;
    position: absolute;
    left: 285px;
    cursor: pointer;
    transition: transform 0.3s ease 0s;
}
.read-me-btn-container a:hover{
    opacity: 0.4;
    background-color: #fff;
    color: rgb(121, 50, 50);
    transform: translateY(-10px);
}


/* mobile view */
@media only screen and (max-width:320px){
    .image-box{
        width: 75vw;
    }
}

@media only screen and (max-width:550px){
    .body-boxes{
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;
        grid-template-areas: "image-box"
        "text-box";
        grid-gap: 10px;
    }
    .image-box{
        grid-area: image-box;
    }
    .text-box{
        grid-area: text-box;
    }
    .text-box {
        width: inherit;
        height: auto;
        background: rgba(47, 49, 47, 0.062);
        border-radius: 10px;
        padding: 10px;
    }
    .imagex {
        width: 300px;
        height: auto;
        border-radius: 10px;
    }
    .read-me-btn-container a{
        padding: 2px;
        border-radius: 3px;
        background-color: rgb(121, 50, 50);
        color: #fff;
        text-decoration: none;
        position: absolute;
        left: 140px;
        cursor: pointer;
        transition: transform 0.3s ease 0s;
    }
    
}
/* Tablet View */

@media only screen and (max-width:768px){
    .text-box{
        width: 85vw;
    }
}













/* start of action to improve health latency */
.container-body{
    width: 100vw;
    height: 100vh;
}

.title-block{
    width: 100vw;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(10, 83, 10);
}
@keyframes slideInLeft{
    from{
        transform: translateX(-300px);
    }
    to{
        transform: translateX(0);
    }
}

.headinggg{
    color: #fff;
    animation: slideInLeft 1s ease-in 1s 2 normal none;
}



.body-o{
    margin: 30px;
    display: grid;
    background: rgb(76, 175, 80, 0.3);
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas: "paragraph imagee1 "
    "paragraph support-box";
    grid-gap: 10px;
    padding: 20px;
}
.paragraph{
    padding: 20px;
    /* background: url("./images/WhatWeDo/health-literacy.jpg"); */
    grid-area: paragraph;
}
ul, ol{
    margin-left: 18px;
}
.imagee1{
    padding: 20px;
    grid-area: imagee1;
}
.support-box{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 10px;
    grid-area: support-box;
    width: 700px;
    height: 250px;
    background-color: rgb(151, 145, 145);
    position: relative; 
    border-radius: 5px;
    gap: 10px;
}
.support-box a{
    width: 120px;
    height: 50px;
    padding: 10px;
    border-radius: 5px;
    background-color: rgb(121, 50, 50);
    color: #fff;
    text-decoration: none;
    position: absolute;
    left: 285px;
    cursor: pointer;
    transition: transform 0.3s ease 0s;
}
.support-box a:hover{
    opacity: 0.4;
    background-color: #fff;
    color: rgb(121, 50, 50);
    transform: translateY(-10px);
}
.support-box h2{
    margin-top: 0;
    margin-left: 210px;
    color: rgb(121, 50, 50);
    justify-self: flex-start;
}

/* mobile view */
@media only screen and (max-width:550px){
    .body-o{
        margin: 5px;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 1fr;
        grid-template-areas: " imagee1 "
        "paragraph" 
        "support-box";
        grid-gap: 10px;
    }
    
}

/* end of action to improve health latency */